/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: 'transportmedium';
  font-style: bold;
  font-size: 18;
}
.centered {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-bottom {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@font-face {
  font-family: 'transportmedium';
  src: url('transport_medium-webfont.woff2') format('woff2'),
       url('transport_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
a {
  color: black;
}
h1 {
  font-family: 'transportmedium';
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}
p {
  font-style: bold;
  font-size: 18;
  font-family: 'transportmedium';
}
/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
  font-family: 'transportmedium';
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}
#title{
  position: relative;
}
#block{
  position: absolute;
  top: -310px;
  left: 70px;
}
#block2{
  position: absolute;
  top: -210px;
  left: 10px;
}

#port {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;

}

.col-md-2 {
  margin: auto;
  width: 50%;


}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
  font-family: 'transportmedium';
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
